body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.5)), url(../../../public/fon.jpg);
    background-size: no-repeat;
    background-size: cover;
}

.home__container {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}